﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PageNotFoundErrorPage.aspx.cs" Inherits="ExceptionLogging.Error" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1>Page Not Found</h1>
        </div>
    </form>
</body>
</html>
