﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UnauthorizedErrorPage.aspx.cs" Inherits="ExceptionLogging.UnauthorizedErrorPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1>Unauthorized</h1>
        </div>
    </form>
</body>
</html>
